<div class="container">

  <% if @customer.errors.any? %>
    <h5><%= @customer.errors.count %>件のエラーが発生しました。</h5>
    <% @customer.errors.full_messages.each do |message| %>
      <ul>
        <li><%= message %></li>
      </ul>
    <% end %>
  <% end %>

  <h5 class="m-5"><span class="bg-light">　会員情報編集　</span></h5>

  <%= form_with model:@customer,url:'/customers/information',method: :patch do |f| %>

    <form>
      <div class="row">
        <label for="name" class="col-lg-2 col-10">氏名</label>
        <div class="col-lg-4 col-10">
          <%= f.text_field:last_name,id:"name",:size=>"30" %>
        </div>
        <div class="col-lg-4 col-10">
          <%= f.text_field:first_name,:size=>"30" %><br>
        </div>
      </div>

      <div class="row mt-2">
        <label for="kana" class="col-lg-2 col-10">フリガナ</label>
        <div class="col-lg-4 col-10">
          <%= f.text_field:last_name_kana,id:"kana",:size=>"30" %>
        </div>
        <div class="col-lg-4 col-10">
          <%= f.text_field:first_name_kana,:size=>"30" %><br>
        </div>
      </div>

      <div class="row mt-2">
        <label for="postal" class="col-lg-2 col-10">郵便番号</label>
        <div class="col-lg-4 col-10">
          <%= f.text_field:postal_code,id:"postal",:size=>"30" %><br>
        </div>
      </div>

      <div class="row mt-2">
        <label for="address" class="col-lg-2 col-10">住所</label>
        <div class="col-lg-4 col-10">
          <%= f.text_field:address,id:"address",:size=>"70" %><br>
        </div>
      </div>

      <div class="row mt-2">
        <label for="telephone" class="col-lg-2 col-10">電話番号</label>
        <div class="col-lg-4 col-10">
          <%= f.telephone_field:telephone_number,id:"telephone",:size=>"30" %><br>
        </div>
      </div>

      <div class="row mt-2">
        <label for="email" class="col-lg-2 col-10">メールアドレス</label>
        <div class="col-lg-4 col-10">
          <%= f.email_field:email,id:"email",:size=>"30" %>
        </div>
      </div>
    </form>

    <div class="row justify-content-center">
      <div class="col-md-3 col-sm-5 col-10">
        <%= f.submit"変更内容を保存",class:"btn btn-success mt-5 mr-5 col-12"%>
      </div>

      <div class="col-md-3 col-sm-5 col-10 offset-md-2">
        <%= link_to "退会する",'/customers/confirm',class:"btn btn-danger mt-5" %>
      </div>
    </div>
  <% end %>
</div>