<h4>商品一覧</h4>

<table>
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%=link_to item.name ,admin_item_path(item.id)%></td>
      <td><%= item.price %></td>
      <td><%= item.genre.name %></td>
      <td><%= Item.is_actives_i18n[:"#{item.is_active}"] %></td>
    <% end %>
  </tbody>
</table>
 <%= paginate @items %>