<div class="container">

  <div class="row d-flex justify-content-between m-5">
    <h5><span class="bg-light">　商品一覧　</span></h5>
    <%= link_to new_admin_item_path do %>
      <i style="width:30px;height: 30px;" class="far fa-plus-square text-dark"></i>
    <% end %>
  </div>

  <div class="row">
    <table class="table table-borderless text-nowrap">
      <thead>
        <tr class="table-secondary">
          <th style="width: 10%">商品ID</th>
          <th style="width: 30%">商品名</th>
          <th style="width: 10%">税抜価格</th>
          <th style="width: 30%">ジャンル</th>
          <th style="width: 20%">ステータス</th>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= link_to admin_item_path(item.id),class:"text-dark border-bottom border-dark" do %>
                <%= item.name %>
              <% end %>
          </td>
          <td><%= item.price.to_s(:delimited) %></td>
          <td><%= item.genre.name %></td>
              <% if item.is_active=="sale" %>
                <td class="text-success"><%= Item.is_actives_i18n[:"#{item.is_active}"] %></td>
              <% else %>
                <td class="text-secondary"><%= Item.is_actives_i18n[:"#{item.is_active}"] %></td>
              <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
  <%= paginate @items %>
</div>