<h4>新規商品登録</h4>

<%=form_with model:@item,url:new_admin_item_path,method: :post do |f| %>

<label for="itemImage">商品画像</label>
<%= f.file_field:image,accept:"image/*",id:"itemImage" %><br>

<label for="itemName">商品名</label>
<%= f.text_field:name,id:"itemName",placeholder:"商品名" %><br>

<label for="itemIntroduction">商品説明</label>
<%= f.text_area:introduction,size:"30x7",id:"itemIntroduction",placeholder:"ここに説明文を記述します" %><br>

<label for="genre">ジャンル</label>
<%= f.text_field:genre_id,id:"genre",placeholder:"--選択してください--" %><br>

<label for="price">税抜価格</label>
<%= f.text_field:price,id:"price",placeholder:"1000" %>円




<% end %>

