<h4>商品詳細</h4>


<%= image_tag @item.get_image(200,200) %>

<table>
<tr><th>商品名</th><td><%= @item.name %></td></tr>
<tr><th>商品説明</th><td><%= @item.introduction %></td></tr>
<tr><th>ジャンル</th><td><%= @item.genre.name %></td></tr>
<tr><th>税込価格<br>(税抜価格)</th><td><%= (@item.price*1.1).floor.to_s(:delimited)%>(<%= @item.price.to_s(:delimited) %>)円</td></tr>
<tr><th>販売ステータス</th><td><%= @item.is_active %></td></tr>
</table>

<%=link_to edit_admin_item_path(@item.id) do %>
  <%="編集する" %>
 <% end %>