<div class="container">

  <p class="mt-4"><span class="bg-light"><strong>　管理者</strong>ログイン　</span></p>


  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <table class="d-flex justify-content-center">
    <tr>
      <th class="pr-5 "><%= f.label :メールアドレス,class:"text-secondary h6" %></th>
      <td><%= f.email_field :email, :size=>"40", autofocus: true,placeholder:"sample@example.com", autocomplete: "email" %></td>
    </tr>

    <tr>
      <th class="pt-2 pr-5"><%= f.label :パスワード,class:"text-secondary h6 " %></th>
      <td class="pt-2"><%= f.password_field :password, :size=>"40", autocomplete: "current-password" %></td>
    </tr>

          <% if devise_mapping.rememberable? %>
            <!--<div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>-->
          <% end %>
    <tr>
      <th></th>
      <td><%= f.submit "ログイン",class:"btn btn-primary btn-sm col-4 mt-4" %></td>
     </tr>
  </table>

  <% end %>

  <%= render "admin/shared/links" %>

</div>
