<div class="container">

  <h5 class="m-5"><span class="bg-light"><strong>　管理者</strong>ログイン　</span></h5>


  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


    <div class="row justify-content-center">
      <label for="inputEmail" class="col-sm-2 text-secondary">メールアドレス</label>
      <div class="col-sm-5">
        <%= f.email_field :email,id:"inputEmail", :size=>"40", autofocus: true,placeholder:"sample@example.com", autocomplete: "email",class:"form-control-sm" %>
      </div>
    </div>

    <div class="row justify-content-center pt-3">
      <label for="password" class="col-sm-2 col-form-label text-secondary">パスワード</label>
      <div class="col-sm-5">
        <%= f.password_field :password,id:"password", :size=>"40", autocomplete: "current-password",class:"form-control-sm" %>
      </div>
    </div>

          <% if devise_mapping.rememberable? %>
            <!--<div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>-->
          <% end %>

    <div class="row justify-content-center pt-4">
      <label class="col-sm-2 col-form-label"></label>
      <div class="col-sm-5">
        <%= f.submit "ログイン",class:"btn btn-primary col-4" %>
      </div>
    </div>


  <% end %>

  <%= render "admin/shared/links" %>

</div>
