<div class="container">

  <div class="m-3">
    <% if @genre.errors.any? %>
      <h5><%= @genre.errors.count %>件のエラーが発生しました。</h5>
      <% @genre.errors.full_messages.each do |message| %>
        <ul>
          <li><%= message %></li>
        </ul>
      <% end %>
    <% end %>
  </div>

  <h5 style="margin:50px 70px;"><span class="bg-light">　ジャンル一覧・追加　</span></h5>

  <div class="row">
    <%= form_with model:@genre,url:'/admin/genres',method: :post do |f| %>

    <label for="genreName" class="mr-5 ml-5">ジャンル名</label>
    <%=f.text_field:name,id:"genreName",class:"mr-5" %>

    <%=f.submit"新規登録",class:"btn btn-success ml-5" %>

    <% end %>
  </div>

  <div style="width:400px; "class="row">
    <table class="table m-5">
      <thead>
        <tr class="table-secondary">
          <th style="width: 60%" class="text-center">ジャンル</th>
          <th style="width: 40%"></th>
        </tr>
      </thead>
      <tbody>
        <% @genres.each do |genre| %>
          <tr>
            <td><%= genre.name %></td>
            <td><%=link_to edit_admin_genre_path(genre.id),class:"btn btn-success" do %>
                  <%= "編集する" %>
                <% end %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</div>

