<% if @order.errors.any? %>
  <h5><%= @order.errors.count %>件のエラーが発生しました</h5>
  <% @order.errors.full_messages.each do |message| %>
    <ul>
      <li><%= message %></li>
    </ul>
  <% end %>
<% end %>

<h5 class="m-5"><span class="bg-light">　注文情報入力　</span></h5>

<%= form_with model:@order,url:confirm_orders_path,method: :post do |f| %>
  <p>支払方法</p>
    <%= f.radio_button:payment_method,Order.payment_methods.key(0) %>
    <%= f.label:payment_method_credit_card,Order.payment_methods_i18n[:credit_card] %><br>

    <%= f.radio_button:payment_method,Order.payment_methods.key(1) %>
    <%= f.label:payment_method_transfer,Order.payment_methods_i18n[:transfer]  %>

  <p>お届け先</p>
    <%= f.radio_button:select_address,0 %>
    <%= f.label:select_address,"ご自身の住所" %><br>
    <%= '〒'+current_customer.postal_code+'　'+current_customer.address %><br>
    <%= current_customer.last_name+current_customer.first_name %>

    <%= f.radio_button:select_address,1 %>
    <%= f.label:select_address,"登録済み住所から選択" %><br>
    <%= f.select:address_id,options_from_collection_for_select(current_customer.addresses,:id,:address_display) %><br>

    <%= f.radio_button:select_address,2 %>
    <%= f.label:select_address,"新しいお届け先" %><br>

    <label for="postal">郵便番号（ハイフンなし）</label>
    <%= f.text_field:delivery_postal_code,id:"postal",placeholder:"0000000" %><br>

    <label for="address">住所</label>
    <%= f.text_field:delivery_address,id:"address",placeholder:"東京都渋谷区代々木神園町0-0" %><br>

    <label for="name">宛名</label>
    <%= f.text_field:delivery_name,id:"name",placeholder:"令和道子" %><br>

  <% if CartItem.find_by(customer_id:current_customer) %>
    <%= f.submit"確認画面へ進む" %>
  <% else %>
    <p>カート内に商品がありません</P>
  <% end %>

<% end %>
