<div class="container">
  <h5 class="m-5"><span class="bg-light text-nowrap">　商品一覧（全<%= @item_count %>件）　</span></h5>

  <div class="row">
  <% @items.each do |item| %>
    <div class="col-lg-3 col-md-5 col-10 m-2 mx-auto">
      <div style="width:200px; height:200px;" class="row">
        <%= link_to (image_tag item.get_image(200,200)),item_path(item.id),class:"d-flex align-items-center" %>
      </div>
      <div style="height:50px;" class="row mt-3">
        <%= item.name %>
      </div>
      <div class="row mt-3">
        ¥<%= item.price%>
      </div>
      <div class="row mt-3">
        <% if item.is_active=="sale" %>
          <div class="text-success"><%= Item.is_actives_i18n[:"#{item.is_active}"] %></div>
        <% else %>
          <div class="text-secondary"><%= Item.is_actives_i18n[:"#{item.is_active}"] %></div>
        <% end %>
      </div>

    </div>

  <% end %>
  </div>

    <%= paginate @items %>


</div>