<h5 class="m-5"><span class="bg-light">　商品一覧（全<%= @item_count %>件）　</span></h5>

<% @items.each do |item| %>

<%= link_to (image_tag item.get_image(200,200)),item_path(item.id) %>
<%= item.name %>
¥<%= item.price%>
<% end %>

<%= paginate @items,class:"m-2" %>
