<div class="container">
  <h5 class="m-5"><span class="bg-light text-nowrap">　商品一覧（全<%= @item_count %>件）　</span></h5>

  <div class="row">
  <% @items.each do |item| %>
    <div class="col-lg-3 col-md-5 col-10 m-2 mx-auto">
      <div style="width:200px; height:200px;" class="row mx-auto">
        <%= link_to (image_tag item.get_image(200,200)),item_path(item.id),class:"d-flex align-items-center" %>
      </div>
      <div class="row mx-auto mt-3 text-nowrap">
        <%= item.name %>
      </div>
      <div class="row mx-auto mt-3">
        ¥<%= item.price%>
      </div>
    </div>

  <% end %>
  </div>

    <%= paginate @items %>


</div>