<!DOCTYPE html>
<html>
  <head>
    <title>WorkGithub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">
      <nav>
        <div class="container-fluid">
          <div class="row">
　　　　    <div class="col align-self-start p-0">
              <a class="navber-brand btn btn-outline-secondary text-dark m-3" href='/'>ながのCAKE</a>
            </div>
            <% if admin_signed_in? %>
            <div class="col align-self-end">
              <%= link_to '/admin/items',class:"btn btn-outline-secondary btn-sm text-dark m-3" do %>
                <%= "商品一覧" %>
              <% end %>

              <%= link_to '/admin/customers',class:"btn btn-outline-secondary btn-sm text-dark m-3" do %>
                <%= "会員一覧" %>
              <% end %>

              <%= link_to '/admin',class:"btn btn-outline-secondary btn-sm text-dark m-3" do %>
                <%= "注文履歴一覧" %>
              <% end %>

              <%= link_to '/admin/genres',class:"btn btn-outline-secondary btn-sm text-dark m-3" do %>
                <%= "ジャンル一覧" %>
              <% end %>

              <%= link_to destroy_admin_session_path,method: :delete,class:"btn btn-outline-secondary btn-sm text-dark m-3" do %>
                <%= "ログアウト" %>
              <% end %>
            </div>

            <% elsif customer_signed_in? %>
              <div class="col align-self-end">
                <%= link_to '/customers/my_page',class:"btn btn-outline-secondary btn-sm text-dark m-3" do %>
                  <%= "マイページ" %>
                <% end %>

                <%= link_to '/items',class:"btn btn-outline-secondary btn-sm text-dark m-3" do %>
                  <%= "商品一覧" %>
                <% end %>

                <%= link_to '/cart_items',class:"btn btn-outline-secondary btn-sm text-dark m-3" do %>
                  <%= "カート" %>
                <% end %>

                <%= link_to destroy_customer_session_path,method: :delete,class:"btn btn-outline-secondary btn-sm text-dark m-3" do %>
                  <%= "ログアウト" %>
                <% end %>
              </div>


            <% else %>
              <div class="col align-self-end">
                <%= link_to about_path,class:"btn btn-outline-secondary btn-sm text-dark m-3" do %>
                  <%= "About" %>
                <% end %>

                <%= link_to '/items',class:"btn btn-outline-secondary btn-sm text-dark m-3" do %>
                  <%= "商品一覧" %>
                <% end %>

                <%= link_to new_customer_registration_path,class:"btn btn-outline-secondary btn-sm text-dark m-3" do %>
                  <%= "新規登録" %>
                <% end %>

                <%= link_to new_customer_session_path,class:"btn btn-outline-secondary btn-sm text-dark m-3" do %>
                  <%= "ログイン" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </nav>
    </header>

    <main>
    <% flash.each do |message_type, message| %>
      <%= content_tag :div, message, class: message_type %>
    <% end %>

    <%= yield %>
    </main>

  </body>
</html>
